.chat-side
  .leftheader
    .box
      %p.box-name NISHI
      %ul.box-icons
        = link_to "#", class: "icons-edit" do
          = icon('fas', 'edit',  class: "icons-edit")
        = link_to "#", class: "icons-cog" do
          = icon('fas', 'cog',  class: "icons-cog")
  .group-list
    .group
      %p.group-name techcamp
      %p.group-message まだメッセージがありません
      %p.group-name techcamp
      %p.group-message まだメッセージがありません
      %p.group-name techcamp
      %p.group-message まだメッセージがありません