.chat-side
  .leftheader
    .box
      %p.box__Name NISHI
      %ul.box__Icons
        = link_to "#", class: "icons-edit" do
          = icon('fas', 'edit',  class: "icons-edit")
        = link_to "#", class: "icons-cog" do
          = icon('fas', 'cog',  class: "icons-cog")
  .group-list
    .group
      %p.group__name techcamp
      %p.group__message まだメッセージがありません
      %p.group__name techcamp
      %p.group__message まだメッセージがありません
      %p.group__name techcamp
      %p.group__message まだメッセージがありません